{% extends 'core/base.html' %}

{% load booking_tags %}  <!-- Load the custom filter -->


{% block content %}
<div class="p-6 bg-white flex justify-center items-start gap-10 w-full ">
  <div class="bg-white rounded-lg shadow-lg p-4 w-[35%]">
    <div class="flex flex-col items-center mb-5 gap-6">
      {%  if service_provider.user.profile_image %}
        <img class="object-cover w-24 h-24 rounded-full" src="{{ service_provider.user.profile_image.url }}" alt="" />
      {% else %}
        <div class="w-24 h-24  text-lg rounded-full bg-gray-500 flex items-center justify-center text-white">
          {{ service_provider.user.first_name|first|upper }}{{service_provider.user.last_name|first|upper }}
        </div>
      {% endif %}
        <h1 class="text-3xl font-bold">{{ service_provider.user.first_name }} {{service_provider.user.last_name }}</h1>
        <div class="flex items-center gap-2">
            <div class="rating rating-sm">
                <input type="radio" name="rating-2" class="mask mask-star-2 bg-orange-400" checked />
                <input type="radio" name="rating-2" class="mask mask-star-2 bg-orange-400" checked />
                <input type="radio" name="rating-2" class="mask mask-star-2 bg-orange-400" checked />
                <input type="radio" name="rating-2" class="mask mask-star-2 bg-orange-400" checked />
                <input type="radio" name="rating-2" class="mask mask-star-2 bg-orange-400" />
            </div>
            <span class="text-gray-600">4.7 (47 reviews)</span>
        </div>
          <!-- Service Tags -->
          <div class="flex flex-wrap gap-2 mb-6">
            {% if specializations %}
                {% for specialization in specializations %}
                    <span class="badge badge-outline font-semibold p-2" title="{{ specialization.description }}">
                        {{ specialization.name }}
                    </span>
                {% endfor %}
            {% else %}
                <span class="badge badge-outline font-semibold p-2">No specializations available</span>
            {% endif %}
        </div>
    </div>
      <!-- Verified Provider Section -->
      <div class="flex gap-3 mb-6">
        <i class="fas fa-check-circle text-green-500 text-lg"></i>
        <div class="flex flex-col">
          <h2 class="font-bold text-lg">
            Verified Provider
          </h2>
          <p class="text-gray-700"> {{ years_of_experience }} years of experience</p>
        </div>
      </div>
      <!-- Contact Info -->
      <div class="flex gap-3 mb-6">
        <i class="fas fa-phone-alt text-lg"></i> 
        <div class="flex flex-col">
          <h2 class="font-bold text-lg">
            Phone
          </h2>
          <p class="text-gray-700">{{ service_provider.user.phone }}</p>
        </div>
      </div>
        
      <div  class="flex gap-3 mb-6">
        <i class="fas fa-envelope text-lg"></i>
        <div class="flex flex-col">
          <h2 class="font-bold text-lg">
            Email
           </h2>
           <p class="text-gray-700">{{ service_provider.user.email }}</p>
        </div>
      </div>

  </div>

  <div class="flex flex-col w-[50%] gap-3">
    <ul class="flex items-center justify-center px-1 py-1 menu-items menu-lg bg-[#f1f1f0] rounded-md w-full mb-2">
      <li class="w-[50%] bg-white rounded-md py-2 text-center">
        <a href="#services" class="text-md"><i class="fas fa-user mr-2"></i>Services</a>
      </li>
      <li class="w-[50%] rounded-md py-2 text-center text-[#878088]">
        <a href="#reviews" class="text-md"><i class="fas fa-file mr-2 "></i>
          Reviews</a>
      </li>
    </ul>

    <div class="space-y-4" id="services">
      {% for service in services %}
      <div class="card bg-white shadow-sm border rounded-md p-4">
        <div class="flex justify-between items-start">
          <div class="space-y-2">
            <h3 class="text-lg font-semibold text-gray-800">{{ service.name }}</h3>
            <span class="inline-block text-xs bg-white text-black font-semibold px-2 py-0.5 rounded-md border border-gray-200 mt-1">
              {{ service.specialization.name }}
            </span>
          </div>
          <div class="text-right">
            <p class="text-lg font-bold text-gray-800">${{ service.price }}</p>
          </div>
        </div>
    
        <p class="text-gray-700 mt-2">{{ service.description }}</p>
    
        <div class="flex items-center text-sm text-gray-500 mt-1">
          <i class="fa-solid fa-location-dot mr-1"></i>
          {{ service.city }}, {{ service.state }} , {{ service.country}}
        </div>
    
        {% if request.user.role == request.user.CUSTOMER %}
        <div class="flex justify-between items-center mt-4">
          <a href="#" class="rounded-md bg-white border border-gray-300 text-black px-3 py-2 hover:bg-gray-100">View Details</a>
        {% with isFound=customer_bookings|filter_booking_for_service:service.id %}
            {% if not isFound %}
            <!-- Show "Book now" link -->
            <a href="{% url 'service_booking' service.id %}" class="mt-4  inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-black hover:bg-gray-200 hover:text-black focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
              Book Now
            </a>
            {% else %}
                <!-- Show "Unbook" button -->
                <button 
                    class="rounded-md bg-black text-white hover:bg-gray-800 px-3 py-2 flex items-center" 
                    onclick="unBookService('{{ service.id }}')" 
                    id="booking-btn-{{ service.id }}"
                >
                    <span id="booking-text-{{ service.id }}">Unbook</span>
                    <span id="booking-loading-{{ service.id }}" class="hidden ml-2">
                        <svg class="animate-spin -ml-1 mr-2 h-4 w-4 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                            <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                            <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
                        </svg>
                    </span>
                </button>
            {% endif %}
        {% endwith %}
        </div>
        {% endif %}
      </div>
      {% empty %}
      <div class="card bg-white shadow-sm border text-center p-6">
        <div class="card-body">
          <h3 class="text-lg font-semibold text-gray-700">No services available</h3>
        </div>
      </div>
      {% endfor %}
    </div>
    
     <!-- <div class="mb-8 bg-green-500 hidden" id="reviews">
        <h2 class="font-bold text-xl mb-4">Reviews</h2>
        
        <div class="space-y-4">
            <div class="bg-base-100 p-4 rounded-lg">
                <div class="flex justify-between items-center mb-2">
                    <h3 class="font-semibold">Alice Smith</h3>
                    <span class="text-gray-500 text-sm">October 15, 2023</span>
                </div>
                <p class="text-gray-700">"John did an excellent job fixing our kitchen sink. He was prompt, professional, and thorough."</p>
            </div>
            
            <div class="bg-base-100 p-4 rounded-lg">
                <div class="flex justify-between items-center mb-2">
                    <h3 class="font-semibold">Bob Johnson</h3>
                    <span class="text-gray-500 text-sm">September 22, 2023</span>
                </div>
                <p class="text-gray-700">"Very good service. Fixed our electrical issues quickly and efficiently."</p>
            </div>
            
            <div class="bg-base-100 p-4 rounded-lg">
                <div class="flex justify-between items-center mb-2">
                    <h3 class="font-semibold">Carol Williams</h3>
                    <span class="text-gray-500 text-sm">August 9, 2023</span>
                </div>
                <p class="text-gray-700">"Highly recommend John for any home repair needs. Help knowledgeable and professional."</p>
            </div>
        </div> 
    </div> -->

  </div>
</div>

<script>
       document.querySelectorAll('.menu-items li a').forEach(link => {
            link.addEventListener('click', function (e) {
                  e.preventDefault();
                  // Hide all sections
                  document.querySelectorAll('#services, #reviews').forEach(section => {
                                section.classList.add('hidden');
                            });
                            // Show the selected section
                  const targetId = this.getAttribute('href').substring(1);
                  document.getElementById(targetId).classList.remove('hidden');

                  // Update active state in menu
                  document.querySelectorAll('.menu-items li').forEach(item => {
                                item.classList.remove('bg-white');
                                item.classList.add('text-[#878088]')
                  });

                  const parentLi = this.closest('li');
                  parentLi.classList.add('bg-white');
                  parentLi.classList.remove('text-[#878088]');
              });
      });


  const unBookService = async (serviceId) =>{
    const bookingBtn = document.getElementById(`booking-btn-${serviceId}`)
    const bookingText = document.getElementById(`booking-text-${serviceId}`)
    const bookingLoading = document.getElementById(`booking-loading-${serviceId}`)
    
    bookingBtn.disabled = true
    bookingText.textContent = "unbooking... "
    bookingLoading.classList.remove("hidden")

    const providerId = '{{ service_provider.user.id }}'
    const response = await fetch(`/unbook_service/${serviceId}/`, {
          method: "POST",
          headers: {
            "Content-Type": "application/x-www-form-urlencoded", // or 'application/json' if you send JSON
            "X-CSRFToken": "{{ csrf_token }}"// if CSRF is handled
          },
          body: {}
        });

        const result = await response.json();
        if (result.success) {
          alert(result.message);
          // Optionally redirect or update UI
          window.location.href = `/serviceprovider_profile/${providerId}`
        } else {
          alert(result.message);
        }

        bookingBtn.disabled = false
        bookingText.textContent = "Book now"
        bookingLoading.classList.add("hidden")
    };
</script>
{% endblock %}
